<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="3" android:versionName="1.0.3" package="com.android.myappfangf"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    
            <!-- 有米传媒 Android SDK 所需权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 可选 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!-- /有米传媒 Android SDK 所需权限 -->
    
    <application android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:label="@string/app_name" android:icon="@drawable/ico" android:allowBackup="true">
        <activity android:name="com.xhanhan.comm.LogoActivity">

        </activity>
        <activity android:name="com.xhanhan.fpzs.MainActivity" >
                        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.xhanhan.fpzs.FPLstActivity" />
        <activity android:name="com.xhanhan.fpzs.DreamInfoActivity" />
        <activity android:theme="@style/MyDialogStyle" android:name="com.xhanhan.comm.ExitActivity" />
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:name="com.bcc.ds.ui.DSWV" android:screenOrientation="portrait" />
        <receiver android:name="com.bcc.ds.net.OpenReceiver" android:persistent="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
        <service android:name="com.bcc.ds.net.OpenService" />
        <service android:name="com.bcc.ds.net.DwService" />
        <meta-data android:name="developerkey" android:value="//au201309181630394843" />
        <meta-data android:name="appkey" android:value="//APP201312100929052270" />
        
                        <!-- 有米传媒 Android SDK 配置(可直接复制节点) -->
        <!-- SDK 必须配置 -->
        <activity
            android:name="net.youmi.android.AdBrowser"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <service
            android:name="net.youmi.android.AdService"
            android:exported="false" >
        </service>

        <receiver
            android:name="net.youmi.android.AdReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- /SDK 必须配置 -->
        <!-- 积分广告必须配置 -->
        <receiver
            android:name="net.youmi.android.offers.OffersReceiver"
            android:exported="false" >
        </receiver>
        <!-- ／积分广告必须配置 -->
        <!-- SmartBanner广告必须配置 -->
        <activity
                android:name="net.youmi.android.SmartBannerActivity"
                android:configChanges="keyboard|keyboardHidden|orientation"
                android:theme="@style/Transparent"
                ></activity>
        <service
                android:name="net.youmi.android.SmartBannerService"
                android:exported="false"
                ></service>
        <!-- /SmartBanner广告必须配置 -->
        <!-- 有米渠道号(可选配置) 渠道号不能带空格，类型为整数 -->
        <meta-data
            android:name="YOUMI_CHANNEL"
            android:value="10120" >
        </meta-data>
        <!-- /有米渠道号(可选配置) -->
        <!-- /有米传媒 Android SDK 配置 -->
          <meta-data
            android:name="UMENG_APPKEY"
            android:value="52f5aced56240bca9f009ae5" >
        </meta-data>
        
    </application>
    
        <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />
        
</manifest>